apiVersion: apps/v1
kind: Deployment

metadata:
  name: config-server
  labels:
    app: config-server

spec:
  selector:
    matchLabels:
      app: config-server

  replicas: 1

  template:
    metadata:
      labels:
        app: config-server

    spec:
      containers:
      - name: config-server
        image: mharko/config-server:latest
        imagePullPolicy: IfNotPresent
        
        ports:
        - containerPort: 8081

        resources:
          requests:
            memory: "256Mi"
            cpu: "50m"
          limits:
            memory: "512Mi"
            cpu: "1000m"

        readinessProbe:
          httpGet: 
            path: /actuator/health
            port: 8081
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 30
          failureThreshold: 5

---

apiVersion: v1
kind: Service
metadata:
  name: config-server
spec:
  type: ClusterIP
  selector: 
    app: config-server
  ports:
  - port: 8081
    targetPort: 8081